# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development: 
  email_provider_username: <%= ENV["OWNER_EMAIL"] %>
  email_provider_password: <%= ENV["GMAIL_PASSWORD"] %>
  mailchimp_api_key: <%= ENV["MAILCHIMP_API_KEY"] %>
  mailchimp_list_id: <%= ENV["MAILCHIMP_LIST_ID"] %>
  domain_name: tumplineapps.com
  owner_email: <%= ENV["OWNER_EMAIL"] %>
  secret_key_base:  679d5e1381444660884b991e22c1b11de4723925f60fbfc77984398c74641a055de21286f82a98d5e23b8c2ae2f1fff4efc44020990acd2a22886e59d79bb115
   
test:
  secret_key_base: 7841df95039d6d47e6258b5b3214a884847844c698508761289ae18aba4e705af5fc8a0f705b15490ebed2fa536ba3c47de02417dc2b342058514941da5e96fb

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  email_provider_username: <%= ENV["OWNER_EMAIL"] %>
  email_provider_password: <%= ENV["GMAIL_PASSWORD"] %>
  mailchimp_api_key: <%= ENV["MAILCHIMP_API_KEY"] %>
  mailchimp_list_id: <%= ENV["MAILCHIMP_LIST_ID"] %>
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  owner_email: <%= ENV["OWNER_EMAIL"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

